includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 4

    paths:
        - app
        - tests

    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - tests/*

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
